.container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.card {
  width: 260px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  background: white;
}

.card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.card-body {
  padding: 10px;
}

.title-row {
  display: flex;
  justify-content: space-between;
}

.mrp {
  text-decoration: line-through;
  color: gray;
}

.price {
  font-weight: bold;
  color: green;
}

.discount {
  color: red;
  margin-left: 5px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background: orange;
  color: white;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  display:flex;
  justify-content:center;
  align-items:center;
}

.modal-box {
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.cart {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
}
